  
.pagination  {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    row-gap: 25px;
    
}
.pagination li {
    display: flex;
    border:none;
    align-items: center;
    justify-content: center;
    padding:  5px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
    
    
}
.pagination li:hover {
    background-color: #ad343e; 
    color: white;
    border: none;
}

.pagination .ellipsis {
    pointer-events: none; /* Disable click */
    color: #141212; /* Adjust as needed */
    padding: 0 5px;
  }
  


.pagination button {
    padding: 10px;
}
    
.active {
    background: black;
    color: #fff;
    border: 1px solid #fff;
}


